.venv/
venv/

logs/
airflow.db

# DO NOT EVER COMMIT
*.env.gpg
airflow-secrets.env
*.bak

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/

*.log

wheels/

chipyard/

simple_auth_manager_passwords.json.generated
standalone_admin_password.txt

dags/*.py
!dags/pd_store_demo.py

e2e/configs-design/*/
!e2e/configs-design/gcd/
!e2e/configs-design/pass/
!e2e/configs-design/sram_wrapper_sky130/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db
e2e/build-sky130-cm/

e2e/build-sky130-cm-*/

cache_events/

output.json
e2e/configs-design/**/*-extras.yml
